---
layout: default
title: Tags
---

<h1 id="tagName"></h1>

<div class="posts">
  {% for post in site.posts %}
    {% include summary.html post=post %}
  {% endfor %}
</div>

<script>
  const tag = decodeURI(window.location.search.split('=').pop())
  const notfound = '{{ site.baseurl }}404'
  let none = true
  if(tag) {
    document.getElementById('tagName').innerText = tag
    document.querySelectorAll('.post').forEach(node => {
      if(!node.dataset.tags.split(',').includes(tag))
        node.style.display = 'none'
      else
        none = false
    })
  }
  if(!tag || none)
    window.location.replace(notfound)
</script>